.content{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-color: aqua;
    padding: 20px;
}
.div{
    width: 10%;
    background-color: chartreuse;
}
.border:hover{
    background-color: aqua;
    cursor: pointer;
}